.margins {
	margin-bottom: 30px;
}
.centerText {
	text-align: center;
}
#answer1,#answer2,#answer3,#answer4,#answer5 {}
#startbtn {}
#questionbox {}
body{
	background-image: url("../images/Rick and Morty.jpg");
}
h1,h2 {
	color: black;
}
li:hover {
	background-color: lightblue;
}